.dynamic-form {
  padding-top: 16px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-section,
.response-section {
  width: 50%;
  border: 1px solid #ccc;
  padding: 8px;
}

.form-section {
  border-bottom-left-radius: 4px;
}

.response-section {
  border-bottom-right-radius: 4px;
}

.request-responce-header {
  display: flex;
}

.request-header {
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  width: 50%;
  padding: 8px;
  margin-bottom: 0 !important;
}

.response-header {
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  width: 50%;
  padding: 8px;
  margin-bottom: 0 !important;
}